<header>
  <div class="header-group">
    <%= link_to image_tag('search-picture.png', class:"app-log", size: "140x70"), root_path %>
    <div class="container">
      自己分析
    </div>
    <div class='header-nav'>
      <div class="header-margin">

        <ul>
          <% if user_signed_in? %>
          <div class="header-menu">
            <li><%= link_to current_user.nickname, edit_user_registration_path, class: "user-nickname btn btn-link", :style=>"color:black;" %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout btn btn-link"  %></li>
          </div>
          <% else %>
            <li><%= link_to 'ログイン', user_session_path, class: "login btn btn-link" %></li>
            <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up btn btn-link" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>