<div class='header-nav'>
  <div class="header-margin">
    <%= link_to 'ホームへ戻る', root_path, class: "root-back" %>

    <ul>
      <% if user_signed_in? %>
      <div class="lists-right">
        <li><%= link_to current_user.nickname, edit_user_registration_path, class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"  %></li>
      </div>
      <% else %>
        <li><%= link_to 'ログイン', user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</div>