<h1>hello</h1>
<%= link_to '分析一覧にいく', answer_path(current_user), method: :get, class: "login" %>
<div>
    <%= form_with url: answers_path, local: true, method: :post, id: "form" do |form| %>
        <%= form.text_field :answer  , id: "answer"%>
        <%= form.submit '投稿する' , id: "submit" %>
    <% end %>

    <div id="list">
    </div>
    <% @answers.each do |ans| %>
    <div class="post" data-id=<%= ans.id %>>
        <div class="post-date">
        投稿日時：<%= ans.created_at %>
        </div>
        <div class="post-content">
        <%= ans.answer %>
        </div>
    </div>
<% end %>
</div>