<div class="UI_Build_Assistant homebody">
    <nav>left
        <h1>hello</h1>
        <%= link_to '分析一覧にいく', answer_path(current_user), method: :get, class: "login" %>
        <div class="1side-list">
            <ul class="menu-list">リスト
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </div>
    </nav>
    <main>
        <p class="text-center">目標を入力しよう</p>
        <textarea class="main-top" cols="35" id="page_content" name="page[content]" rows="3"></textarea>
    </main>

    <div class="main-left">左
        <% @answers.each do |ans| %>
            <div class="post" data-id=<%= ans.id %>>
                <div class="postlist">
                    投稿日時：<%= ans.created_at %>
                </div>
                <div class="postlist">
                    <%= ans.answer %>
                </div>
                <div class="conectline border">
                </div>
            </div>
        <% end %>       
        <%= form_with url: answers_path, local: true, method: :post, id: "form" do |form| %>
            
            <%= form.text_field :answer  , id: "answer"%>
            <%= form.submit '投稿する' , id: "submit" %>
        <% end %> 
        <div id="addinc">
        </div>
    </div>
    <div class="main-center">中
        <% @answers.each do |ans| %>
            <div class="post" data-id=<%= ans.id %>>
                <div class="postlist">
                    投稿日時：<%= ans.created_at %>
                </div>
                <div class="postlist">
                    <%= ans.answer %>
                </div>
                <div class="conectline border"></div>
            </div>
        <% end %>        
        <%= form_with url: answers_path, local: true, method: :post, id: "form" do |form| %>
            
            <%= form.text_field :answer  , id: "answer"%>
            <%= form.submit '投稿する' , id: "submit" %>
        <% end %> 
        <div id="addinc">
        </div>
    </div>
    <div class="main-right">右
        <% @answers.each do |ans| %>
            <div class="post" data-id=<%= ans.id %>>
                <div class="postlist">
                    投稿日時：<%= ans.created_at %>
                </div>
                <div class="postlist">
                    <%= ans.answer %>
                </div>
                <div class="conectline border"></div>
            </div>
        <% end %>
        <%= form_with url: answers_path, local: true, method: :post, id: "form" do |form| %>
            
            <%= form.text_field :answer  , id: "answer"%>
            <%= form.submit '投稿する' , id: "submit" %>
        <% end %>
        <div id="addinc">
        </div>
    </div>


    <aside>right</aside>
    <%# <%= button_to "増やすボタン", {controller: 'answers', action: 'index'}, {method: :get, id: "incbtn"} %> 
</div>