<div class="UI_Build_Assistant homebody">
    <%= render "shared/side_list" %>
    <main class="text-center">
        <%= @room.target %>
        <p class="text-center">何故そうありたいですか？</p>
    </main>

    <div class="main-left">左
    <%= render partial: 'ans' %>
  
        <%= form_with model: [@room, @answer], local: true, id: "form" do |f| %>
            <%= f.text_field :ans, id: "answer" %>
            <%= f.submit '投稿する' , id: "submit" %>
        <% end %> 
        <div id="addinc">
        </div>
    </div>

    <div class="main-center">中
    </div>

    <div class="main-right">右
    </div>


    <aside>right</aside>
    <%# <%= button_to "増やすボタン", {controller: 'answers', action: 'index'}, {method: :get, id: "incbtn"} %> 
</div>