<div class="UI_Build_Assistant homebody">
    <%= render "shared/side_list" %>
    <main>
        <p class="text-center">目標を入力しよう</p>
        
    </main>

    <div class="main-left">左
        <%# <% [@room,@answers].each do |ans| %> %>
            <%# <div class="post" data-id=<%= ans.answer.id %>> %>
                <%# <div class="postlist"> %>
                    <%# 投稿日時：<%= ans.created_at %> %>
                <%# </div> %>
                <%# <div class="postlist"> %>
                    <%# <%= ans.answer %> %>
                <%# </div> %>
                <%# <div class="conectline border"> %>
                <%# </div> %>
            <%# </div> %>
        <%# <% end %>        %>
        <%= form_with model: [@room, @answer], local: true, id: "form" do |form| %>
            
            <%= form.text_field :answer, id: "answer" %>
            <%= form.submit '投稿する' , id: "submit" %>
        <% end %> 
        <div id="addinc">
        </div>
    </div>
    <div class="main-center">中
    </div>
    <div class="main-right">右
    </div>


    <aside>right</aside>
    <%# <%= button_to "増やすボタン", {controller: 'answers', action: 'index'}, {method: :get, id: "incbtn"} %> 
</div>