<h1>hello</h1>
<%= form_with(model:@answer,  url: answers_path, local: true, method: :post, id: "form") do |form| %>
  <%= form.text_field :answer  , id: "content"%>
  <%= form.submit '投稿する' , id: "submit" %>
<% end %>

<div id="list">
</div>
<% @answers.each do |ans| %>
  <div class="post" data-id=<%= ans.id %>>
    <div class="post-date">
      投稿日時：<%= ans.created_at %>
    </div>
    <div class="post-content">
      <%= ans.answer %>
    </div>
  </div>
<% end %>