<div class="main-center">中
  <%= @room.target %>
        <%# <%= form_with model: [@room, @answer], local: true, id: "form" do |f| %> %>
            <%# <%= f.text_field :ans, id: "ans" %> %>
            <%# <%= f.select :point, [["左です！","1"]] %> %>
            <%# <%= f.submit '投稿する' , id: "submit" %> %>
        <%# <% end %>  %>
        <div id="addinc">
        </div>
</div>