<div class="form-top">
  <p class="text-center">ログインして自身の分析を振り返ろう！</p>
</div>
<%= form_with model: @user, url: user_session_path, class: 'form-signin', local: true do |f| %>
  <div>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </div>
  <div class="form-signin">
    <div>
      <label>メールアドレス(必須)</label>
    </div>
    <%= f.email_field :email, class:"form-control", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
  </div>
  <div class="form-signin">
    <div>
      <label>パスワード(必須)</label>
    </div>
    <%= f.password_field :password, class:"form-control", id:"password", placeholder:"password" %>
  </div>
  <div class='login-btn form-signin'>
    <%= f.submit "ログイン" ,class:"btn btn-lg btn-primary btn-block" %>
  </div>

  <div>
    <%= link_to "新規ユーザー登録はこちらから", user_registration_path, class: "form-signin" %>
  </div>
<% end %>