<div class="UI_Build_Assistant homebody">
    <%= render "shared/side_list" %>
    <main class="text-center">
        <%= @room.target %>
        <p class="text-center">何故そうありたいですか？</p>
    </main>

    <div class="main-left">左
        <% @answers.each do |an| %>
            <% if an.point == 1 %>
                <br><%= an.ans %>
                <% next %>
            <% else %>
                <% next %>
            <% end %>
        <% end %>
        <%= form_with model: [@room, @answer] do |f| %>
            <%= f.text_area :ans, placeholder: "コメントする", rows: "1" %>
            <span class="separate"><%= f.select :point, [["左です！","1"]] %></span>
            <%= f.submit "SEND" %>
        <% end %>
    </div>

    <div class="main-center">中
            <% @answers.each do |an| %>
                <% if an.point == 2 %>
                    <br>
                    <%= an.ans %>
                    <% next %>
                <% else %>
                    <% next %>
                <% end %>
            <% end %>
        <%= form_with model: [@room, @answer] do |f| %>
            <%= f.text_area :ans, placeholder: "コメントする", rows: "1" %>
            <span class="separate"><%= f.select :point, [["中です！","2"]] %></span>
            <%= f.submit "SEND" %>
        <% end %>
    </div>

    <div class="main-right">右
        <div class="show-ans">
            <% @answers.each do |an| %>
                <% if an.point == 3 %>
                    <br><%= an.ans %>
                    <% next %>
                <% else %>
                    <% next %>
                <% end %>
            <% end %>
            </div>
        <%= form_with model: [@room, @answer] do |f| %>
            <%= f.text_area :ans, placeholder: "コメントする", rows: "1" %>
            <span class="separate"><%= f.select :point, [["右です！","3"]] %></span>
            <%= f.submit "SEND" %>
        <% end %>
    </div>

    <aside>right</aside>
    
</div>
