<div class="UI_Build_Assistant homebody">

    <%= render "shared/side_list" %>
    <main class="text-center">
        <div class="target-name shadow box17">
            <b><%= @room.target %></b>
        </div>
        <p class="text-center ">何故そうありたいですか？</p>
    </main>

    <div class="main-left">
        <% @answers.each do |an| %>
            <% if an.point == 1 %>
                <div class="show-ans border border-success shadow p-1 bg-white rounded">
                    <%= an.ans %>
                </div>
                <div class="center-line text-center">|
                </div>
                <% next %>
            <% else %>
                <% next %>
            <% end %>
        <% end %>
        <%= form_with model: [@room, @answer] do |f| %>
            <div class="d">
                <%= f.text_area :ans, placeholder: "コメントする", rows: "1", class:"form-control" %>
            </div>
            <span class="separate"><%= f.select :point, [["左です！","1"]] %></span>
            <div class="send-btn">
                <%= f.submit "送信する", class:"btn btn-success" %>
            </div>
        <% end %>
    </div>

    <div class="main-center">
                <% @answers.each do |an| %>
                    <% if an.point == 2 %>
                        <div class="show-ans border border-success shadow p-1 bg-white rounded">
                            <%= an.ans %>
                        </div>
                        <div class="center-line">
                            <div class="center-line text-center">|
                            </div>
                        </div>
                        <% next %>
                    <% else %>
                        <% next %>
                    <% end %>
                <% end %>
        <%= form_with model: [@room, @answer] do |f| %>
            <div class="d">
                <%= f.text_area :ans, placeholder: "コメントする", rows: "1", class:"form-control" %>
            </div>
            <span class="separate"><%= f.select :point, [["中です！","2"]] %></span>
            <div class="send-btn">
                <%= f.submit "送信する", class:"btn btn-success" %>
            </div>
        <% end %>
    </div>

    <div class="main-right">
        <% @answers.each do |an| %>
            <% if an.point == 3 %>
                <div class="show-ans border border-success shadow p-1 bg-white rounded">
                    <%= an.ans %>
                </div>
                <div class="center-line text-center">|
                </div>
                <% next %>
            <% else %>
                <% next %>
            <% end %>
        <% end %>
        <%= form_with model: [@room, @answer] do |f| %>
            <div class="d">
                <%= f.text_area :ans, placeholder: "コメントする", rows: "1", class:"form-control" %>
            </div>
            <span class="separate"><%= f.select :point, [["右です！","3"]] %></span>
            <div class="send-btn">
                <%= f.submit "送信する", class:"btn btn-success" %>
            </div>
        <% end %>
    </div>

    <aside>right</aside>
    
</div>
