<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Yourself</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= javascript_pack_tag 'application'%>
    
    

  </head>

  <body>
  <%= render "shared/header" %>

    <%= yield %>
    <%= render "shared/footer" %>
    <script src="https://unpkg.com/axios/dist/axios.min.js"><script>
  </body>
</html>
